* {
    box-sizing: border-box;
  }
  
  body, p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
  }
  
  .background {
    background-color: rgba(0, 0, 0, .5);
    width: 100%;
    height: 100vh;
  }
  
  .form {
    width: 600px;
    background-color: #fffdfa;
    padding: 30px 10px 40px;
    border: 10px solid #ccc;
    position: relative;
    top: 10%;
    left: 25%;
  }
  
  .form__blocks {
    margin-bottom: 10px;
  }
  
  .form__block {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
  }
  
  .form__block p {
    color: #646464;
  }
  
  .form__block:hover {
    background-color: rgba(158, 255, 239, 0.2);
    box-shadow: inset 0px 0px 0px 1px #23a7ff
  }
  
  .form__label {
    padding-left: 33px;
    position: relative;
    cursor: pointer;
    color: #646464;
    text-transform: uppercase;
    font-family: 'Bebas', sans-serif;
    font-size: 18px;
  }
  
  .form__label::before {
    content: '';
    display: block;
    width: 16px;
    height: 16px;
    background-color: #fff;
    border: 5px solid #ccc;
    border-radius: 50%;
    position: absolute;
    top: -1px;
    left: 0;
    z-index: 1;
  }
  
  .form__label::after {
    content: '';
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #38c4ac;
    position: absolute;
    top: 7px;
    left: 8px;
    z-index: 2;
    opacity: 0;
  }
  
  .form__block-input {
    appearance: none;
    position: absolute;
  }
  
  .form__block-input:checked + .form__label::before  {
    border: 5px solid #001c58;
  }
  
  .form__block-input:checked + .form__label::after {
    opacity: 1;
  }
  
  .form__select {
    border-top: 2px solid #ccc;;
    border-bottom: 1px solid #ccc;
    text-align: center;
    padding: 30px 0;
  }
  
  .form__select-label {
    color: #646464;
    margin-right: 5px;
  }
  
  .form__select-input {
    border: 1px solid #23a7ff;
    padding: 5px 10px 5px 0;
    outline: none;
  }
  
  .form__total, .form__plan {
    text-align: center;
  }
  
  .form__total {
    text-transform: uppercase;
    margin-top: 30px;
    color: #646464;
    font-family: 'Bebas', sans-serif;
    font-weight: normal;
    letter-spacing: 1px;
  }
  
  .form__button {
    display: flex;
    justify-content: center;
    text-decoration: none;
    width: 200px;
    padding: 20px 0;
    color: #fff;
    background-color: #45b862;
    border-radius: 35px;
    text-transform: uppercase;
    margin: 15px auto 50px;
    font-family: 'Montserrat', sans-serif;
  }

  .form__button:hover {
    background-color: #5ecc79;
  }
  
  .form__plan {
    color: #23a7ff;
    font-family: 'Montserrat', sans-serif;
  }